extends _template.pug

include ../components/sectionIntro/sectionIntro
include ../components/sectionCatalog/sectionCatalog
include ../components/sectionClients/sectionClients
include ../components/sectionAdvantages/sectionAdvantages

block pageHeader
	+header(header.defaults)
block pageMain
	main.page-main
		// section INTRO 
		+sectionIntro(sectionIntro.defaults)
		// - section INTRO 
		// section CATALOG 
		+sectionCatalog(sectionCatalog.defaults)
		// - section CATALOG 
		// section CLIENTS 
		+sectionClients(sectionClients.defaults)
		// - section CLIENTS 
		// section ADVANTAGES 
		+sectionAdvantages(sectionAdvantages.defaults)
		// - section ADVANTAGES 
block pageFooter
	+footer(footer.defaults)
block pageScripts
