include ../sectionProducts/sectionProducts

mixin showcaseProducts(data, limit)
    +sectionProducts(sectionProducts.defaults, 3)
    +sectionProducts(sectionProducts.defaults, 3)
    +sectionProducts(sectionProducts.defaults, 3)
