include ../advantage/advantage

mixin sectionAdvantages(data)
	section.section.section_bg-dark.section_bg-sign.section_pt.section_pb.section-advantages#section-advantages
		.container
			.row.justify-content-center.text-center
				.col-lg-6.col-md-10
					+sectionHeader(data.header)
		.container
			.row.text-center
				each item in data.items
					.col-md-4.py-2.py-md-0
						+advantage(item)