include ../figureProduct/figureProduct

mixin sectionProducts(data, limit)
    section.section.section-products#section-products
        .container
            .row
                each item, index in data.items
                    if (!limit || index < limit)
                        .col-xl-4.col-sm-6.col-12.section-products__item
                            +figureProduct(item)
