mixin specification(data)
    .specification
        each item in data
            .specification__item
                .specification__option=item.option
                .specification__value=item.value